<div class="background-image-container">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="d-flex flex-wrap">
                <div>
                    <h1 class="display-3">RIUNNE</h1>
                    <p class="lead">Repositorio Institucional UNNE</p>
                    <p class="lead">Repositorio Institucional UNNE</p>
                </div>
            </div>

        </div>
    </div>
    <picture class="background-image">
        <!-- <source type="image/webp"
            srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w"> -->
        <source type="image/jpg" srcset="assets/riunne/images/background_ri.jpg 2000w">
        <!-- <img alt="" [src]="/assets/riunne/images/background_ri.jpg" /> -->

    </picture>
</div>